-Xms32m
-Xmx128m
-XX:+UseSerialGC
-XX:+UseCompressedOops
-XX:ReservedCodeCacheSize=64m
-XX:MaxDirectMemorySize=64m
-XX:MaxHeapFreeRatio=70
-XX:MinHeapFreeRatio=30
-XX:+UseStringDeduplication
-XX:+UnlockExperimentalVMOptions
-XX:G1NewSizePercent=20
-XX:G1MaxNewSizePercent=30
-Djava.awt.headless=true
